@model prjHiJoMVCCore.ViewModels.CEventFormViewModel

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<input asp-for="EventId" type="hidden" />
<!-- 活動名稱 -->
<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<!-- 活動描述 -->
<div class="mb-3">
    <label asp-for="Description" class="form-label"></label>
    <textarea asp-for="Description" class="form-control"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>

<!-- 活動分類 -->
<div class="mb-3">
    <label asp-for="EventTypeId" class="form-label"></label>
    @Html.DropDownListFor(
        m => m.EventTypeId,
        Model.EventTypeOptions,
        "--請選擇--",
        new { @class = "form-select" })
    <span asp-validation-for="EventTypeId" class="text-danger"></span>
</div>

<!-- 城市 -->
<div class="mb-3">
    <label asp-for="CityId" class="form-label"></label>
    @Html.DropDownListFor(
        m => m.CityId,
        Model.CityOptions,
        "--請選擇--",
        new { @class = "form-select" })
    <span asp-validation-for="CityId" class="text-danger"></span>
</div>

<!-- 活動地址 -->
<div class="mb-3">
    <label asp-for="Address" class="form-label"></label>
    <input asp-for="Address" class="form-control" />
    <span asp-validation-for="Address" class="text-danger"></span>
</div>

<!-- 引入封面顯示 -->
@await Html.PartialAsync("_CoverPhotoPartial", Model)
